*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.header{
    background-color: #FFF8F3;
    background-image: url(../images/header_bg.png), url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, left;
    padding-top: 30px;
}

/* Navigation Bar */
.khan-shaheb{
    font-weight: 800;
    font-size: 45px;
}
nav{
    display: flex;
    justify-content: space-between;
    margin: 0px 200px;
    padding-top: 30px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-right: 30px;
}
.primary-color{
    color: #FD6E0A;
}
.btn-primary{
    background-color: #FD6E0A;
    padding: 15px 20px;
    border: none;
    color: white;
    font-weight: 700;
    border-radius: 5px;
    font-size: 15px;
}

/* Banner Style */
.banner{
    display: flex;
    align-items: center;
    margin: 0 130px 0px 200px;
}
.banner-subtitle{
    font-weight: 600;
    font-size: 45px;
    line-height: 61px;
}
.banner-title{
    font-weight: 700;
    font-size: 85px;
    line-height: 116px;
    margin-bottom: 10px;
}
.banner-description{
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #757575;
    margin-bottom: 30px;
}
.btn-secondary{
    background-color: white;
    padding: 15px 35px;
    border: 1px solid #FD6E0A;
    color: #FD6E0A;
    font-weight: 700;
    border-radius: 5px;
    font-size: 15px;
    margin-left: 10px;
}

/* Main Section */
main{
    max-width: 1140px;
    margin: 0 auto;
}
.about{
    margin: 130px 0;
    background: #FFF8F3;
    border-radius: 10px;
    padding: 130px 150px;
}
.about-title{
    text-align: center;
    font-weight: 700;
    font-size: 35px;
    line-height: 48px;
    color: #181818;
    padding-bottom: 30px;
}
.about-description{
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: #757575;
    padding-bottom: 30px;
}

/* Personal Information */
.intro{
    display: flex;
    justify-content: space-around;
    
}
.personal-info{
    margin-right: 80px;
    text-align: center;
}

/* My Skills */
.resume{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    gap: 40px;
}
.my-skill{
    margin-bottom: 130px;
}
.skill-set{
    text-align: center;
    padding-bottom: 50px;
    margin: 0 200px;
}
.skill-container{
    display: flex;
    gap: 25px;
}
.skills{
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 30px;
}
.skill-title{
    font-weight: 700;
    font-size: 20px;
    margin-top: 30px;
}
.skill-description{
    margin-top: 20px;
    font-weight: 400;
    font-size: 16px;
    color: #757575;
}

/* Resume Section */
.degree{
    margin: 30px 0;
}
.degree-title{
    margin-bottom: 10px;
}
.university{
    margin-bottom: 20px;
}
.degree-description{
    padding-bottom: 30px;
    
}

.resume-btn{
text-align: center;
}

/* Footer */
footer{
    background: #FFF8F3;
    margin-top: 100px;
}
.footer-container{
    width: 1140px;
    margin: 0 auto;
    padding-top: 100px;
    display: flex;
    justify-content: center;
    gap: 100px;
    padding-bottom: 100px;
}
.connect-title{
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 20px;
}
.connect-des{
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #474747;
    margin-bottom: 30px;
}
.icon{
    display: flex;
    justify-content: flex-start;
    gap: 20px;
}

/* Form Section */
.massage-form input{
    display: block;
}
.massage-title{
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 25px;
}
.massage-form input, textarea{
    margin-bottom: 24px;
    border: 0;
}
input{
    height: 50px;
    width: 100%;
    padding-left: 10px;
}
textarea{
    width: 100%;
    padding-left: 10px;
}